<h1>Hola {{ username }}!</h1>

<p>Gracias por registrarte en nuestra aplicación.</p>

<p>Por favor, haz clic en el siguiente enlace para activar tu cuenta:</p>

<p><a href="{{ activationUrl }}">Activar cuenta</a></p>

<p>Si no te has registrado, ignora este correo.</p>
