<div class="min-h-screen flex flex-col lg:flex-row bg-black text-white">
  <!-- Sección izquierda con logo -->
  <div class="w-full lg:w-1/2 flex items-center justify-center py-10 lg:py-0">
    <img src="logo.svg" alt="Logo Kicknet" class="w-35 h-35 md:w-56 md:h-56 lg:w-72 lg:h-72 " />
  </div>

  <!-- Sección derecha con formulario -->
  <div class="w-full lg:w-1/2 flex items-center justify-center px-6 py-10 lg:py-0">
    <div class="w-full max-w-md">
      <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold mb-6 md:mb-10">
        La red social para los amantes del fútbol
      </h1>

      <h2 class="text-xl md:text-2xl font-bold mb-4">Únete Hoy</h2>

      <button class="w-full py-3 rounded-full bg-blue-500 hover:bg-blue-600 transition-colors mb-4 font-semibold cursor-pointer" (click)="openSignUpModal()">
        Crear cuenta
      </button>

      <p class="text-sm text-gray-400 mb-4">
        Al registrarte, aceptas los <a href="#" class="text-blue-500 underline">Términos de servicio</a> y la
        <a href="#" class="text-blue-500 underline">Política de privacidad</a>.
      </p>

      <p class="mt-4 text-xl font-bold md:text-xl">
        ¿Ya tienes una cuenta?
      </p>
        <button class="w-full py-3 rounded-full bg-blue-500 hover:bg-blue-600 transition-colors mt-4 font-semibold cursor-pointer" (click)="openModal()">
          Iniciar Sesión
        </button>
    </div>
  </div>
</div>

<!-- Modal de Iniciar Sesión -->
<div *ngIf="isModalOpen" class="fixed inset-0 z-50 flex items-center justify-center bg-white/40 backdrop-blur-sm">
  <div class="bg-black text-white rounded-xl shadow-lg p-6 w-3/4 max-w-lg">
    <div class="relative">
      <button (click)="closeModal()" class="absolute text-2xl cursor-pointer font-bold px-2.5 rounded-full transition-colors duration-300 hover:bg-gray-800">x</button>
    </div>
    <div class="flex justify-center mb-4">
      <img src="logo.svg" alt="Logo Kicknet" class="w-10 h-10 md:w-10 md:h-10 lg:w-10 lg:h-10" />
    </div>
    <h2 class="text-3xl font-bold mb-8">Iniciar Sesión</h2>
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <input
        type="email"
        name="loginEmail"
        [(ngModel)]="loginEmail"
        required
        class="w-full p-2 border border-gray-500 rounded mb-6 placeholder-gray-500 focus:outline-none focus:ring-3 focus:ring-blue-500"
        placeholder="Email"
      />
      <input
        type="password"
        name="loginPassword"
        [(ngModel)]="loginPassword"
        required
        class="w-full p-2 border rounded mb-6 placeholder-gray-500 border-gray-500 focus:outline-none focus:ring-3 focus:ring-blue-500"
        placeholder="Contraseña"
      />
      <button
        type="submit"
        [disabled]="!loginForm.form.valid"
        class="w-full py-3 rounded-full bg-white text-black cursor-pointer hover:bg-white/60 transition-colors mt-4 font-semibold"
      >
        Iniciar Sesión
      </button>
    </form>
    <p class="text-center text-gray-400 mt-6">
      ¿No tienes cuenta?  
      <a href="#" class="text-blue-500 underline" (click)="openSignUpModal()">Regístrate</a>
    </p>
  </div>
</div>

<!-- Modal de Crear Cuenta -->
<div *ngIf="isSignUpModalOpen" class="fixed inset-0 z-50 flex items-center justify-center bg-white/40 backdrop-blur-sm">
  <div class="bg-black text-white rounded-xl shadow-lg p-6 w-3/4 max-w-lg">
    <div class="relative">
      <button (click)="closeSignUpModal()" class="absolute text-2xl cursor-pointer font-bold px-2.5 rounded-full transition-colors duration-300 hover:bg-gray-800">x</button>
    </div>
    <div class="flex justify-center mb-4">
      <img src="logo.svg" alt="Logo Kicknet" class="w-10 h-10 md:w-10 md:h-10 lg:w-10 lg:h-10" />
    </div>
    <h2 class="text-3xl font-bold mb-8">Crear Cuenta</h2>
    <form (ngSubmit)="register()" #registerForm="ngForm">
      <input
        type="text"
        name="registerUsername"
        [(ngModel)]="registerUsername"
        required
        class="w-full p-2 border rounded mb-6 placeholder-gray-500 border-gray-500 focus:outline-none focus:ring-3 focus:ring-blue-500"
        placeholder="Usuario"
      />
      <input
        type="email"
        name="registerEmail"
        [(ngModel)]="registerEmail"
        required
        email
        class="w-full p-2 border border-gray-500 rounded mb-6 placeholder-gray-500 focus:outline-none focus:ring-3 focus:ring-blue-500"
        placeholder="Email"
      />
      <input
        type="password"
        name="registerPassword"
        [(ngModel)]="registerPassword"
        required
        minlength="6"
        class="w-full p-2 border rounded mb-6 placeholder-gray-500 border-gray-500 focus:outline-none focus:ring-3 focus:ring-blue-500"
        placeholder="Contraseña"
      />
      <input
        type="password"
        name="registerPasswordConfirm"
        [(ngModel)]="registerConfirmPassword"
        required
        minlength="6"
        class="w-full p-2 border rounded mb-6 placeholder-gray-500 border-gray-500 focus:outline-none focus:ring-3 focus:ring-blue-500"
        placeholder="Confirmar Contraseña"
      />
      <button
        type="submit"
        [disabled]="!registerForm.form.valid"
        class="w-full py-3 rounded-full bg-white text-black cursor-pointer hover:bg-white/60 transition-colors mt-4 font-semibold"
      >
        Crear Cuenta
      </button>
    </form>
  </div>
</div>
